h1,h2,h3,h4, p, a, {
  font-family: 'Roboto', sans-serif;
}

$text-color:         #111;
$background-color:   #f3f3f3;
$brand-color:        #2696E7;

$grey-color:         #828282;
$grey-color-light:   lighten($grey-color, 40%);
$grey-color-dark:    darken($grey-color, 25%);

$tablet:          600px;
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@charset "utf-8";
@import "normalize";
@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import "partials/layout";
@import "partials/landing";
@import "partials/nav";
