<div class="about">
  <div class="wrapper">
    <section>
      <div class="section-title">
        <div id="about" class="title">
          <h1>About Us</h1>
        </div>
        <div class="hr"></div>
      </div>
      <div class="about-image">
        <%= image_tag("bros.png", :alt => "SMAG")%>
      </div>
      <div class="about-text">
        <p>The crew at SMAG.</p>
        <p>The story starts with four brothers: Sebastiano, Michelangelo, Alessio, Gregory.</p>
        <p>As an aerospace engineer, composite materials inspired G. One day,
           he asked his wife who was cleaning out her closet if he could have
           the pair of jeans that she planned to donate. She said yes & G started experimenting.
           G’s experimentation inspired his brothers. S, M, & A began experimenting,
           communication took off, & so did SMAG!</p>
        <p>More is always coming...</p>
      </div>
    </section>

  </div>
</div>
