<div class="bike">
  <div class="wrapper">
    <section>
      <div class="section-title">
        <div class="title">
          <h1>Denim Bike</h1>
        </div>
        <div class="hr"></div>
      </div>
      <p>
        Hoodie viral tote bag vegan, DIY Brooklyn cold-pressed jean shorts.
        Sartorial XOXO sustainable cardigan Carles photo booth, fixie street
        art Kickstarter trust fund Thundercats Banksy kale chips Pinterest.
        Seitan biodiesel cray, Pitchfork mumblecore single-origin coffee squid
        plaid 90’s wayfarers. Thundercats butcher cold-pressed, Vice kitsch
        tattooed 90’s. Kickstarter selfies asymmetrical, gentrify flexitarian
        normcore Thundercats sustainable Godard. Kogi bespoke High Life occupy,
        Pitchfork mlkshk Etsy beard XOXO Schlitz. Slow-carb tote bag pickled,
        tilde authentic fingerstache chillwave gentrify deep v swag retro meggings.
      </p>
      <div class="bike-images">
        <div class="large">
          <img class="" src="" alt="" />
        </div>
        <div class="small">
          <img class="" src="" alt="" />
        </div>
        <div class="small">
          <img class="" src="" alt="" />
        </div>
      </div>
    </section>
  </div>
</div>
