<div class="contact">
  <div class="wrapper">
    <section>
      <div class="section-title">
        <div id="contact" class="title">
          <h1>Contact Us</h1>
        </div>
        <div class="hr"></div>
      </div>
      <div class="contact-text">
        <h3>Founded In:</h3>
        <p>Internation District <br>
        Seattle, WA</p>
        <h3>Email:</h3>
        <p><a href="mailto:greg@smaglab.com">greg@smaglab.com</a></p>
      </div>
      <div class="contact-map">
        <div id="map_canvas"></div>
      </div>
    </section>

  </div>
</div>
