<nav>
  <div class="wrapper">
    <div class="nav-logo">
      <%= image_tag("smag_logo.png", :class => "logo", :alt => "SMAG")%>
    </div>
    <div class="nav-links">
      <ul>
        <li><a href="#">Denim Bike</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Values</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div> <!-- nav-links -->
  </div>
</nav>
