<nav>
  <div class="wrapper">
    <div class="nav-logo">
      <%= image_tag("smag_logo.png", :class => "logo", :alt => "SMAG")%>
    </div>
    <div class="nav-links">
      <ul>
        <li><a data-dest="bike" href="#bike">Denim Bike</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#values">Values</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div> <!-- nav-links -->
  </div>
</nav>
