<div class="values">
  <div class="wrapper">
    <section>
      <div class="section-title">
        <div id="values" class="title">
          <h1>SMAG Values</h1>
        </div>
        <div class="hr"></div>
      </div>
      <div class="values-text">
        <h3>WHAT DO WE DO?</h3>
        <p>We build bicycle frames from denim</p>
        <p>Yes, from the pants you wear</p>

        <h3>WHY?</h3>
        <p>Denim is renewable</p>
        <p>Denim comes from cotton plants, not petroleum based like carbon frames</p>
        <p>Denim is lightweight, environmentally conscious, & unique</p>
      </div>
      <div class="values-text">
        <h3>HOW?</h3>
        <p>Glue; fancy glue called bio epoxy resin is used to make denim layers strong</p>
        <p>So strong you can sit on it, torque it, ride it.</p>

        <h3>WHY SMAG?</h3>
        <p>We believe that bicycles are important today & will be even more important tomorrow</p>
        <p>From environmental consciousness to individual practicality – We believe that denim bicycles are the future</p>
      </div>
      <div class="values-images">
        <%= image_tag("values_1.png", :alt => "values")%>
        <%= image_tag("values_2.png", :alt => "values")%>
      </div>
    </section>

  </div>
</div>
